.ritghtbar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    top: 50px;
    position: sticky;
}

.rightbarWrapepr {
    padding: 20px 20px 0 0;

}

.birthdayContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.profileRightbarTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profileRightbarInfo {
    margin-bottom: 30px;
}

.profileRightbarInfoItem {
    margin-bottom: 10px;
}

.profileRightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.profileRightbarInfoValue {
    font-weight: 300;
}

.profileRightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profileRightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
}
.profileRightbarFollowingUser{
    max-width: 80px;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.profileRightbarFollowingImg {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
}