.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightProfileImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    bottom: 0px;
    right: 0;
    border: 2px solid white
}

.rightbarUsername {
    font-weight: 500;
    font-size: 14px;
}